<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Hello World</title>

    <script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>
<body>

<div>
    <div id="app">
        <div>
            <input type="text" id="txtMsg" v-model="message">
            <!-- v-on:click  @click -->
            <button @click="change()">Change</button>
            <button @click="reverseMessage()">Reverse Message</button>
        </div>

        <br>

        <div>
            {{ message }}
        </div>
        <div>
            {{ message | capitalize | filterA('哈哈', 123456) }}
        </div>

        <br>

        <div>
            <!-- v-bind:title  :title -->
        <span :title="message">
            Hover your mouse over me for a few seconds to see my dynamically bound title!
        </span>
        </div>

        <br>

        <div>
            <p v-if="seen">Now you see me</p>
            <p v-if="(message === 'true')">{{ !!message ? 'YES' : 'NO' }}</p>
            <template v-else>
                <div v-if="message === 'false'">{{ !!message ? 'YES' : 'NO' }}</div>
                <div v-else>{{ message.split('').reverse().join('') }}</div>
            </template>
        </div>

        <br>

        <div>
            <ol>
                <li v-for="todo in todos">
                    <div v-if="(todo.text.length >= 4)">
                        {{ todo.text }}
                    </div>
                </li>
            </ol>
        </div>

        <br>

        <div>
            <p>Original message: "{{ message }}"</p>
            <p>Computed reversed message: "{{ reversedMessage }}"</p>
        </div>

    </div>
</div>

<script src="../static/js/hello.js"></script>

</body>
</html>