<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Hello World</title>

    <script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>
<body>

<div>
    <div id="app">
        <div>
            <input type="text" id="txtMsg" v-model="message">
            <!-- v-on:click  @click -->
            <button @click="change()">Change</button>
            <button @click="reverseMessage()">Reverse Message</button>
        </div>

        <br>

        <div>
            {{ message }}
        </div>

        <br>

        <div>
            <!-- v-bind:title  :title -->
        <span :title="message">
            Hover your mouse over me for a few seconds to see my dynamically bound title!
        </span>
        </div>

        <br>

        <div>
            <p v-if="seen">Now you see me</p>
        </div>

        <br>

        <div>
            <ol>
                <li v-for="todo in todos">
                    {{ todo.text }}
                </li>
            </ol>
        </div>

    </div>
</div>

<script src="../static/js/hello.js"></script>

</body>
</html>